
<html>
<body>
    <div class="well">
      This blog is a prototype for a typical blog website. Developed in Ruby On Rails. Deployed on Heroku.<br>
      Ruby Version: 2.2.1<br>
      Rails Version: 4.2.4<br>
      Dependancy gems: bcrypt, will_paginate, bootstrap-will_paginate, byebug (dev only), bootstrap-sass, sass-rails<br>
      
      <div class="well">
        GitHub link: https://github.com/pratik-chavan/coder-cooks-blog
      </div>
    </div>
    
  
   <%= link_to 'Home', root_path %>
</body>
</html>
