
<html>
<head>About</head>
<title>About</title>
<body>
  <p>This blog is for the coders who love to cook in the spare time!! If you are as serious about measurements of ingredients as you are about the indentation in your code, come join!! </p>
  <%= link_to 'Home', root_path %>
</body>
</html>
