
<html>
  <title>Coders && Cooks!</title>
  <body>
    <div class = "container"> 
      <%= render 'layouts/carousel' %>
    </div>
  </body>
</html>


<%= link_to 'Alpha Blog' , articles_path %>
<%= link_to 'About', about_path %>