
<html>
  <title>Coders && Cooks!</title>
  <body>
    <h1><center>Welcome to Coders && Cooks!</center></h1>
    <hr>
  </body>
</html>


<%= link_to 'Alpha Blog' , articles_path %>
<%= link_to 'About', about_path %>