
<html>
  <title>Coders && Cooks!</title>
  <body>
    <h1><center>Welcome to Coders && Cooks!</center></h1>
    <hr>
    <p>Tech Articles</p>
    <p></p>Delicious Recipes</p>
  </body>
</html>

<%= link_to 'About', about_path %>