
<div class="table">
<div class="row">
  <div class="col-md-12">
    <div class="thumbnail">
      <img src="image_homepage.png" alt="OhYeah">
     </div>
  </div>
</div>
</div>

<hr>

<div align="center">
  <div><%= link_to 'Sign Up Now' , signup_path , class: "btn btn-primary btn-lg" %> 
      <%= link_to 'Sign In' , login_path , class: "btn btn-primary btn-lg" %></div>
</div>




 
