$navbar-default-bg: #49ABCC;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
}

.img {
  width: auto;
  height: 225px;
  max-height: 225px;
}